.TranslateForm {
    display: flex;
    justify-content: space-between;

    width: 100%;

    padding: 0 36px;
}

.TranslateForm-Arrow {
    width: 20px;

    margin: 24px 30px 0;
}

.TranslateForm-InputWrapper {
    width: 50%;
}

.TranslateForm-Lang {
    margin: 0 0 24px;

    color: #d3d3d3;

    font: normal 20px/24px Roboto, sans-serif;
}

.TranslateForm-Lang_align_right {
    text-align: right;
}
